aside 
{
  width: 20%;
  float: right;
  font-style: italic;
  background-color: palegoldenrod;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 20px;
  margin: 15px;
  text-align: justify;
  border: 2px solid chocolate;
  background-color: rgb(255, 197, 88);
}

footer > p
{
text-align: center;
padding: 3px;
background-color: Sienna;
color: black;
}

.yowsers
{
  margin: 0;
  padding: 5px;
  background-color: peru;
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px chocolate
}

.yowsers > h1, .browser 
{
  margin: 10px;
  padding: 5px;
}

.wowser
{
  background: peru;
}

.wowser > h2, p 
{
  margin: 4px;
  font-size: 30px;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: peru;
  position: fixed;
}

li 
{
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

li a:hover:not(.active) {
  background-color: sienna;
}

.active {
  background-color: sandybrown;
}

body 
{
  background-color: Moccasin;
}

h1
{
  background-color: sienna;
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px chocolate
}

h2
{
  background-color: rgb(255, 197, 88);
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px chocolate
}

h3
{
  color: white;
  text-align: center;
 font-family: 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px black;
}


p 
{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 20px;
  margin: 15px;
  text-align: justify;
  border: 2px solid chocolate;
  background-color: rgb(255, 197, 88);

}

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn 
{
  0% { opacity: 0; }
  100% { opacity: 1; }
}
