

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: peru;
  position: fixed;
}

li 
{
  display: inline;
  float: bottom;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

li a:hover:not(.active) {
  background-color: sienna;
}

.active {
  background-color: sandybrown;
}

body 
{
  background-color: burlywood;
}

hr
{
height: 10px;
border: none;
background: white;
}

ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: peru;
  position: fixed;
}

li 
{
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

li a:hover:not(.active) {
  background-color: sienna;
}

.active {
  background-color: sandybrown;
}

h1
{
  background-color: rgb(255, 197, 88);
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 30px;
  text-shadow: 2px 2px saddlebrown;
}


img
{
padding: 20px;
margin: 10px;
}


.pec
{
float: left;
}

.peclink
{
float: left;
margin: 0px 30px 65px 65px;
  font-family: 'Trebuchet MS', sans-serif;
font-size: 20px;
}

.wwf
{
clear: both;
float: left;
}

.wwflink
{
float: left;
clear: both;
margin: 0px 30px 65px 65px;
  font-family: 'Trebuchet MS', sans-serif;
font-size: 20px;
}

.gp
{
clear: both;
float: left;
margin-bottom: 50px;
}

.gpp
{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 20px;
  margin-top: 200px;
  text-align: justify;
  border: 2px solid chocolate;
  background-color: rgb(255, 197, 88);
}

.gplink
{
float: left;
clear: both;
margin: 0px 30px 65px 65px;
  font-family: 'Trebuchet MS', sans-serif;
font-size: 20px;
}

.glopal
{
float: right;
}


p 
{
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 20px;
  padding: 20px;
  margin: 100px;
  text-align: justify;
  border: 2px solid chocolate;
  background-color: rgb(255, 197, 88);
}

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn 
{
  0% { opacity: 0; }
  100% { opacity: 1; }
}

a:link
{
color: Orange;
border: 2px solid peru;
background-color: wheat;
padding: 3px 4px;
font-weight: bold;
text-decoration: none;
}

a:visited
{
color: SaddleBrown;
border: 2px solid peru;
padding: 3px 4px;
}

a:hover
{
color: OrangeRed;
border: 2px solid peru;
padding: 3px 4px;
}

a:active 
{
color: Sienna;
border: 2px solid peru;
padding: 3px 4px;
}



