ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: peru;
  position: fixed;
}

li 
{
  display: inline;
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
}

li a:hover:not(.active) {
  background-color: sienna;
}

.active {
  background-color: sandybrown;
}

body 
{
  background-color: DarkSeaGreen;
}

h2
{
  background-color: rgb(255, 197, 88);
  color: white;
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  font-size: 30px;
  text-shadow: 2px 2px chocolate
}

h3
{
  color: white;
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  font-size: 30px;
  text-shadow: 2px 2px black;
}


p 
{
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
  padding: 20px;
  margin: 15px;
  text-align: justify;
  border: 2px solid chocolate;
  background-color: rgb(255, 197, 88);
  text-indent: 45px;
}

.fade-in-image { animation: fadeIn 5s; }

@keyframes fadeIn 
{
  0% { opacity: 0; }
  100% { opacity: 1; }
}
