ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: peru;
  position: fixed;
}

li 
{
  display: inline;
  float: bottom;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
}

li a:hover:not(.active) {
  background-color: sienna;
}

.active {
  background-color: sandybrown;
}

body 
{
  background-color: burlywood;
}

h1
{
  background-color: rgb(255, 197, 88);
  color: white;
  text-align: center;
  font-family: 'Brush Script MT', cursive;
  font-size: 30px;
  text-shadow: 2px 2px chocolate
}

p 
{
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
  padding: 20px;
  margin: 15px;
  text-align: center;
  border: 2px solid chocolate;
  background-color: rgb(255, 197, 88);
}

